@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Londrina+Shadow&family=Exo+2:wght@600&display=swap');
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

@media (max-width: 450px) {
    body {
        background: rgb(12, 12, 24);
        position: relative;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-top: 150px;
        width: 420px;
        padding-left: 30px;
        font-size: 36px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 0px;
    }
    form .iuser {
        height: 28px;
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
        margin-left: 60px;
    }
    form .ilvl {
        height: 28px;
        font-size: 20px;
        width: 200px;
        margin: 10px 100px 10px 80px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 130px;
        height: 30px;
        width: 120px;
        font-size: 18px;
        font-family: 'Exo 2', sans-serif;
        background-color: rgb(255, 10, 255);
    }
    #img {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin: 10px 150px 5px 140px;
    }
    h3 {
        padding-left: 7px;
        font-size: 12px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 10px 0px 0px 30px;
        margin: 0px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    .lowerPart {
        display: flex;
        padding-left: 40px;
    }
    .bottom {
        padding-left: 40px;
        padding-top: 20px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 32px;
        width: 32px;
    }
}

@media(min-width: 450px) and (max-width: 745px) {
    body {
        background: rgb(12, 12, 24);
        position: relative;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-top: 200px;
        padding-left: 150px;
        font-size: 40px;
        width: 500px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 0px;
    }
    form .iuser {
        height: 28px;
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
        margin-left: 180px;
    }
    form .ilvl {
        height: 28px;
        font-size: 20px;
        width: 200px;
        margin: 10px 100px 10px 200px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 250px;
        height: 35px;
        width: 120px;
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
        background-color: rgb(255, 10, 255);
    }
    #img {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin: 20px 150px 5px 260px;
    }
    .rightPart {
        padding-left: 100px;
    }
    .secondPart {
        padding-left: 60px;
    }
    h3 {
        padding-left: 7px;
        font-size: 12px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 10px 0px 0px 30px;
        margin: 0px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    .lowerPart {
        display: flex;
        padding-left: 40px;
    }
    .bottom {
        padding-left: 170px;
        padding-top: 20px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 32px;
        width: 32px;
    }
}

@media (min-width: 745px) and (max-width: 1000px) {
    body {
        background: rgb(12, 12, 24);
        position: relative;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-top: 250px;
        padding-left: 150px;
        font-size: 55px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 0px;
    }
    form .iuser {
        height: 35px;
        font-size: 24px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
        margin-left: 60px;
    }
    form .ilvl {
        height: 35px;
        font-size: 24px;
        width: 200px;
        margin: 10px 10px 10px 10px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 10px;
        height: 40px;
        width: 120px;
        font-size: 22px;
        font-family: 'Exo 2', sans-serif;
        background-color: rgb(255, 230, 0);
    }
    .firstPart {
        display: flex;
    }
    .rightPart {
        display: flex;
        padding-top: 70px;
    }
    #img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin: 50px 20px 5px 50px;
    }
    h3 {
        padding-left: 7px;
        font-size: 14px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 10px 0px 0px 30px;
        margin: 0px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
        font-size: 12px;
    }
    .secondPart {
        padding-left: 200px;
        padding-top: 20px;
    }
    .lowerPart {
        display: flex;
        padding-left: 40px;
    }
    .bottom {
        padding-left: 210px;
        padding-top: 80px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 48px;
        width: 48px;
    }
}

@media (min-width: 1000px) and (max-width: 1280px) {
    body {
        background: rgb(14, 14, 15);
        background: linear-gradient(90deg, rgba(14, 14, 15, 1) 0%, rgba(19, 19, 27, 1) 27%, rgba(13, 16, 41, 1) 66%, rgba(1, 10, 56, 1) 100%);
        background-size: 400% 400%;
        position: relative;
        animation: change 20s ease-in-out infinite;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        0% {
            background-position: 0 50%;
        }
    }
    .flex {
        display: flex;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-left: 210px;
        padding-top: 150px;
        font-size: 72px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 150px;
    }
    form .iuser {
        height: 50px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    form .ilvl {
        height: 50px;
        font-size: 28px;
        width: 200px;
        margin-left: 30px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 30px;
        height: 56px;
        width: 150px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        background-color: teal;
    }
    .fullView {
        margin: 50px 100px 100px 100px;
    }
    .rightPart {
        padding-left: 0px;
        padding-top: 20px;
    }
    .secondPart {
        padding-left: 300px;
        padding-bottom: 70px;
    }
    .lowerPart {
        padding-left: 0px;
    }
    .lineOne {
        padding-left: 0px;
    }
    .lineTwo {
        padding-left: 0px;
    }
    #img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin-left: 50px;
        margin-right: 20px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 20px 0px 0px 30px;
        margin: 0px;
    }
    h3 {
        padding-left: 10px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
        font-size: 15px;
    }
    .bottom {
        padding-left: 250px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 64px;
        width: 64px;
    }
}

@media (min-width: 1280px) and (max-width: 1370px) {
    body {
        background: rgb(14, 14, 15);
        background: linear-gradient(90deg, rgba(14, 14, 15, 1) 0%, rgba(19, 19, 27, 1) 27%, rgba(13, 16, 41, 1) 66%, rgba(1, 10, 56, 1) 100%);
        background-size: 400% 400%;
        position: relative;
        animation: change 20s ease-in-out infinite;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        0% {
            background-position: 0 50%;
        }
    }
    .flex {
        display: flex;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-left: 300px;
        padding-top: 150px;
        font-size: 72px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 250px;
    }
    form .iuser {
        height: 50px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    form .ilvl {
        height: 50px;
        font-size: 28px;
        width: 200px;
        margin-left: 30px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 30px;
        height: 56px;
        width: 150px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        background-color: teal;
    }
    .fullView {
        margin: 50px 100px 100px 180px;
    }
    .rightPart {
        padding-left: 0px;
        padding-top: 20px;
    }
    .secondPart {
        padding-left: 300px;
        padding-bottom: 20px;
    }
    .lowerPart {
        padding-left: 0px;
    }
    .lineOne {
        padding-left: 0px;
    }
    .lineTwo {
        padding-left: 0px;
    }
    #img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin-left: 50px;
        margin-right: 20px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 20px 0px 0px 30px;
        margin: 0px;
    }
    h3 {
        padding-left: 10px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
        font-size: 15px;
    }
    .bottom {
        padding-left: 250px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 64px;
        width: 64px;
    }
}

@media (min-width: 1370px) and (max-width: 1500px) {
    body {
        background: rgb(14, 14, 15);
        background: linear-gradient(90deg, rgba(14, 14, 15, 1) 0%, rgba(19, 19, 27, 1) 27%, rgba(13, 16, 41, 1) 66%, rgba(1, 10, 56, 1) 100%);
        background-size: 400% 400%;
        position: relative;
        animation: change 20s ease-in-out infinite;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        0% {
            background-position: 0 50%;
        }
    }
    .flex {
        display: flex;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-left: 350px;
        padding-top: 100px;
        font-size: 82px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 330px;
    }
    form .iuser {
        height: 50px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    form .ilvl {
        height: 50px;
        font-size: 28px;
        width: 200px;
        margin-left: 30px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 30px;
        height: 56px;
        width: 150px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        background-color: teal;
    }
    .fullView {
        margin: 50px 100px 100px 100px;
    }
    .firstPart {
        padding-left: 100px;
    }
    .secondPart {
        padding-left: 100px;
        padding-bottom: 50px;
    }
    .lowerPart {
        padding-left: 200px;
    }
    .lineOne {
        padding-left: 150px;
    }
    .lineTwo {
        padding-left: 100px;
    }
    #img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 20px 0px 0px 30px;
        margin: 0px;
    }
    h3 {
        padding-left: 20px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
    }
    .bottom {
        padding-left: 400px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 64px;
        width: 64px;
    }
}

@media (min-width: 1500px) and (max-width: 1700px) {
    body {
        background: rgb(14, 14, 15);
        background: linear-gradient(90deg, rgba(14, 14, 15, 1) 0%, rgba(19, 19, 27, 1) 27%, rgba(13, 16, 41, 1) 66%, rgba(1, 10, 56, 1) 100%);
        background-size: 400% 400%;
        position: relative;
        animation: change 20s ease-in-out infinite;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        0% {
            background-position: 0 50%;
        }
    }
    .flex {
        display: flex;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-left: 400px;
        padding-top: 150px;
        font-size: 90px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 400px;
    }
    form .iuser {
        height: 50px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    form .ilvl {
        height: 50px;
        font-size: 28px;
        width: 200px;
        margin-left: 30px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 30px;
        height: 56px;
        width: 150px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        background-color: teal;
    }
    .fullView {
        margin: 50px 100px 100px 200px;
    }
    .firstPart {
        padding-left: 100px;
    }
    .secondPart {
        padding-left: 100px;
        padding-bottom: 50px;
    }
    .lowerPart {
        padding-left: 200px;
    }
    .lineOne {
        padding-left: 150px;
    }
    .lineTwo {
        padding-left: 100px;
    }
    #img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 20px 0px 0px 30px;
        margin: 0px;
    }
    h3 {
        padding-left: 20px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
    }
    .bottom {
        padding-left: 400px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 64px;
        width: 64px;
    }
}

@media (min-width: 1700px)and (max-width: 2000px) {
    body {
        background: rgb(14, 14, 15);
        background: linear-gradient(90deg, rgba(14, 14, 15, 1) 0%, rgba(19, 19, 27, 1) 27%, rgba(13, 16, 41, 1) 66%, rgba(1, 10, 56, 1) 100%);
        background-size: 400% 400%;
        position: relative;
        animation: change 20s ease-in-out infinite;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        0% {
            background-position: 0 50%;
        }
    }
    .flex {
        display: flex;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-left: 500px;
        padding-top: 100px;
        font-size: 100px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 550px;
    }
    form .iuser {
        height: 50px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    form .ilvl {
        height: 50px;
        font-size: 28px;
        width: 200px;
        margin-left: 30px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 30px;
        height: 56px;
        width: 150px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        background-color: teal;
    }
    .fullView {
        margin: 100px 300px 100px 300px;
    }
    .firstPart {
        padding-left: 100px;
    }
    .secondPart {
        padding-left: 100px;
        padding-bottom: 70px;
    }
    .lowerPart {
        padding-left: 200px;
    }
    .lineOne {
        padding-left: 150px;
    }
    .lineTwo {
        padding-left: 100px;
    }
    #img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 20px 0px 0px 30px;
        margin: 0px;
    }
    h3 {
        padding-left: 20px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
    }
    .bottom {
        padding-left: 450px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 64px;
        width: 64px;
    }
}

@media (min-width: 2000px)and (max-width: 3000px) {
    body {
        background: rgb(14, 14, 15);
        background: linear-gradient(90deg, rgba(14, 14, 15, 1) 0%, rgba(19, 19, 27, 1) 27%, rgba(13, 16, 41, 1) 66%, rgba(1, 10, 56, 1) 100%);
        background-size: 400% 400%;
        position: relative;
        animation: change 20s ease-in-out infinite;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        0% {
            background-position: 0 50%;
        }
    }
    .flex {
        display: flex;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-left: 800px;
        padding-top: 200px;
        font-size: 120px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 950px;
    }
    form .iuser {
        height: 50px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    form .ilvl {
        height: 50px;
        font-size: 28px;
        width: 200px;
        margin-left: 30px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 13px;
    }
    #btn {
        margin-left: 30px;
        height: 56px;
        width: 150px;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        background-color: teal;
    }
    .fullView {
        margin: 100px 300px 100px 650px;
    }
    .firstPart {
        padding-left: 100px;
    }
    .secondPart {
        padding-left: 100px;
        padding-bottom: 70px;
    }
    .lowerPart {
        padding-left: 200px;
    }
    .lineOne {
        padding-left: 150px;
    }
    .lineTwo {
        padding-left: 100px;
    }
    #img {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    #img2 {
        height: 20px;
        width: 30px;
        padding: 30px 0px 0px 30px;
        margin: 0px;
    }
    h3 {
        padding-left: 20px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
        font-size: 22px;
    }
    .bottom {
        padding-left: 500px;
    }
    .bottom a {
        padding-left: 50px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 64px;
        width: 64px;
    }
}

@media (min-width: 3000px)and (max-width: 4000px) {
    body {
        background: rgb(14, 14, 15);
        background: linear-gradient(90deg, rgba(14, 14, 15, 1) 0%, rgba(19, 19, 27, 1) 27%, rgba(13, 16, 41, 1) 66%, rgba(1, 10, 56, 1) 100%);
        background-size: 400% 400%;
        position: relative;
        animation: change 20s ease-in-out infinite;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        0% {
            background-position: 0 50%;
        }
    }
    .flex {
        display: flex;
    }
    .smallCountainer {
        display: flex;
        padding-left: 30px;
    }
    h1 {
        color: white;
        padding-left: 1100px;
        padding-top: 400px;
        font-size: 180px;
        font-family: 'Londrina Shadow', cursive;
    }
    form {
        margin-left: 1150px;
    }
    form .iuser {
        height: 100px;
        font-size: 52px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 20px;
    }
    form .ilvl {
        height: 100px;
        font-size: 52px;
        width: 400px;
        margin-left: 30px;
        font-family: 'Exo 2', sans-serif;
        padding-left: 20px;
    }
    #btn {
        margin-left: 30px;
        height: 110px;
        width: 350px;
        font-size: 52px;
        font-family: 'Exo 2', sans-serif;
        background-color: teal;
    }
    .fullView {
        margin: 150px 300px 100px 950px;
    }
    .firstPart {
        padding-left: 100px;
    }
    .rightPart {
        padding-top: 30px;
    }
    .secondPart {
        padding-left: 200px;
        padding-bottom: 150px;
    }
    .lowerPart {
        padding-left: 200px;
    }
    .lineOne {
        padding-left: 150px;
    }
    .lineTwo {
        padding-left: 100px;
    }
    #img {
        height: 300px;
        width: 300px;
        border-radius: 500px;
        margin-left: 50px;
        margin-right: 50px;
    }
    #url2 {
        text-decoration: none;
        color: rgb(161, 75, 161);
    }
    #img2 {
        height: 40px;
        width: 60px;
        padding: 40px 0px 0px 30px;
        margin: 0px;
    }
    h3 {
        padding-left: 20px;
        font-family: 'Crete Round', serif;
        color: rgb(218, 216, 216);
        font-size: 35px;
    }
    .bottom {
        padding-left: 580px;
    }
    .bottom a {
        padding-left: 80px;
    }
    .bottom a svg {
        filter: invert(80%) brightness(200%);
        height: 128px;
        width: 128px;
    }
}